    <div class="filters">        
        <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Categories</h3>
            </div>
            <div class="panel-body italic" ng-click="categoryClicked()" ng-class="{selected: selectedCatId === null}">
              All
            </div>
            <div class="panel-body" ng-click="categoryClicked(category)" ng-class="{selected: category.id === selectedCatId}" ng-repeat="category in categories">
              {{category.name}}
            </div>
          </div>
        <div class="panel panel-success ">
            <div class="panel-heading">
              <h3 class="panel-title">Towns</h3>
            </div>
            <div class="panel-body italic" ng-click="townClicked()" ng-class="{selected: selectedTownId === null}">
              All
            </div>
            <div class="panel-body" ng-click="townClicked(town)" ng-class="{selected: town.id === selectedTownId}" ng-repeat="town in towns">
              {{town.name}}
            </div>
        </div>
          
    </div>