<div class="ads">  
    <div class="row">           
        <div class=" ads-holder">
            <img src="images/loading.gif" ng-hide="ready" width="100px"/>
            <ul ng-cloak>
                <li class="item" ng-repeat="item in adsData.ads">
                    <div class="container title">
                        <h3 class="pull-left">
                            {{item.title}}                           
                        </h3>
                            <span class="pull-right"> 
                                   {{item.date | date: 'd-MMM-yyyy'}}
                            </span>
                    </div>
                    <div class="row">
                        <div class="col-md-5 photo">
                            <img class="ad-image" src="" ng-src="{{item.imageDataUrl}}">
                        </div>
                        <div class="col-md-7 text">
                            {{item.text}}
                            <div class="row">
                                <div class="col-md-4 user-data">
                                    <p>Name:</p>
                                    <p>Email:</p>
                                    <p>Phone:</p>
                                </div>
                                <div class="col-md-8 user-data">
                                    <p>{{item.ownerName}}</p>
                                    <p>{{item.ownerEmail}}</p>
                                    <p>{{item.ownerPhone}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
<!--        <pagination page="startPage" 
                    ng-model="currentPage" 
                    total-items="adsData.numItem" 
                    ng-change="pageChanged()" 
                     items-per-page="pageSize">
        </pagination>-->
        <pagination 
            total-items="adsData.numItems" 
            ng-model="adsParams.startPage"
            items-per-page="adsParams.pageSize" 
            ng-change="reloadAds()"
            max-size="9" 
            boundary-links="true">
        </pagination>
    </div>
</div>


