* {
    box-sizing: border-box;
    color: #333 !important;
}
/*
div{
    border: 1px solid black;
}

*/

.wrapper {
    margin-top: 80px; 
    min-height: 500px;
}

.filters, .login, .register, .ads {
    margin-top: 80px;
}

.row {
    margin: 0;
    padding: 0;
}

.navbar-right span{
    font-size: 1.3em;
    font-style: italic;
    margin-right: 10px;
}

.navbar-right a:link{
    font-size: 1.2em;
    text-decoration: underline;
    
}



.fixed-sidebar {
    position: fixed;
    top: 80px;
    max-width: 15%;
} 

.ads-holder {
    margin: 0;
    padding: 0; 

}
.container {
    width: 100%;
}

.item {
    background-color: #A3DAA3;
    margin-bottom: 15px;
    border-radius: 5px;
}

.user-data p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-style: italic;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.title {
    margin: 0;
    padding: 10px;
    
}

.photo {
    margin: 0;
    padding: 10px;
    
}

.text {
    margin: 0;
    padding: 10px;
    font-size: 16px;
}

.user-data {
    margin: 0;
    padding: 10px;
    margin-top: 15px;

}

.ad-image {    
    width: 100%;
}


.italic {
    font-style: italic;
}

.panel-heading {
    background-color: 	#A3DAA3 !important; 
    
}

.selected {
    background-color: #FFB482;
}

.well {
    background-color: #A3DAA3;
}

button[type="submit"] {
    background-color: #FFB482;
    border-color: #ADADAD;
}

button[type="submit"]:hover{
    background-color: #FF5930;
    border-color: #ADADAD;
}

footer p {
    margin-top: 20px;
    text-align: center;
    background-color: #A3DAA3;
    font-weight: bold;
    padding: 10px;    
}

.title-bar a:first-child {    
    font-weight: bold;
    font-size: 2em;
    font-style: italic;
}

.title-bar {
    background-color: #A3DAA3;    
    
}
